language: cpp
compiler: gcc
sudo: require
dist: trusty
deploy:
  github_token: $github_token
  local_dir: build
  on:
    branch: master

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt-5.10.1-trusty -y
  - sudo apt-get update -qq
  - mkdir -p appdir/usr/bin

install:
  - sudo apt-get -y install qt510base qt510svg qt510translations libgl1-mesa-dev tree libgtk2.0-dev git
  - source /opt/qt*/bin/qt*-env.sh

script:
  - qmake CONFIG+=release PREFIX=/usr
  - make -j$(nproc)
  - make INSTALL_ROOT=appdir -j$(nproc) install ; find appdir/
  - cp appdir/opt/ChessPgnReviser/bin/ChessPgnReviser appdir/usr/bin
  - cp translations/*.qm appdir/usr/bin
  - git clone http://code.qt.io/qt/qtstyleplugins.git
  - cd qtstyleplugins
  - qmake
  - make -j$(nproc)
  - sudo make install
  - cd -
  - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
  - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
  # export VERSION=... # linuxdeployqt uses this for naming the file
  - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -appimage

after_success:
  # find appdir -executable -type f -exec ldd {} \; | grep " => /usr" | cut -d " " -f 2-3 | sort | uniq # for debugging
  # curl --upload-file APPNAME*.AppImage https://transfer.sh/APPNAME-git.$(git rev-parse --short HEAD)-x86_64.AppImage
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh Chess_Pgn_Reviser*.AppImage
  
branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/ 
