language: cpp
compiler: gcc
sudo: require
dist: trusty

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt-5.10.1-trusty -y
  - sudo apt-get update -qq
  - mkdir -p appdir/usr/bin
  - mkdir -p appdir/translations

install:
  - sudo apt-get -y install qt510base qt510svg qt510translations qt510tools libgl1-mesa-dev tree libgtk2.0-dev git
  - source /opt/qt*/bin/qt*-env.sh

script:
  - qmake CONFIG+=release PREFIX=/usr
  - make -j$(nproc)
  - make INSTALL_ROOT=appdir -j$(nproc) install ; find appdir/
  - cp appdir/opt/ChessPgnReviser/bin/ChessPgnReviser appdir/usr/bin
  - cp translations/*.qm appdir/translations
  - git clone http://code.qt.io/qt/qtstyleplugins.git
  - cd qtstyleplugins
  - qmake
  - make -j$(nproc)
  - sudo make install
  - cd -
  - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
  - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
  # export VERSION=... # linuxdeployqt uses this for naming the file
  - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -bundle-non-qt-libs -verbose=1
  - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -appimage -verbose=1
  - mv Chess_Pgn_Reviser*.AppImage ChessPgnReviser-x86_64.AppImage
  - chmod a+x ChessPgnReviser-x86_64.AppImage

after_success:
  - curl --upload-file ./ChessPgnReviser-x86_64.AppImage https://transfer.sh/ChessPgnReviser-x86_64.AppImage
  
branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/ 
