language: cpp
compiler: gcc
sudo: require
dist: trusty

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt-5.10.1-trusty -y
  - sudo apt-get update -qq
  - mkdir -p appdir/usr/bin

install:
  - sudo apt-get -y install qt510base qt510svg qt510translations qt510tools libgl1-mesa-dev tree libgtk2.0-dev git
  - source /opt/qt*/bin/qt*-env.sh

script:
  - qmake CONFIG+=release PREFIX=/usr
  - make -j$(nproc)
  - make INSTALL_ROOT=appdir -j$(nproc) install ; find appdir/
  - cp appdir/opt/ChessPgnReviser/bin/ChessPgnReviser appdir/usr/bin
  - cp translations/*.qm appdir/usr/translations
  - git clone http://code.qt.io/qt/qtstyleplugins.git
  - cd qtstyleplugins
  - qmake
  - make -j$(nproc)
  - sudo make install
  - cd -
  - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
  - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
  # export VERSION=... # linuxdeployqt uses this for naming the file
  - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -bundle-non-qt-libs -verbose=1
  - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -appimage -verbose=1

after_success:
  - mv Chess_Pgn_Reviser*.AppImage ChessPgnReviser-Linux-x86_64.AppImage
  - chmod a+x ChessPgnReviser-Linux-x86_64.AppImage
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh ChessPgnReviser-Linux-x86_64.AppImage
  
branches:
  except:
    - /^(?i:continuous)/ 
