version: 0.1.0-{build}

branches:
  only:
    - master

skip_tags: true

image: Visual Studio 2019

configuration: Release
platform: x64

environment:
  QTDIR: C:\Qt\5.14.2\mingw73_64

install:
  - DIR "C:\Qt\Tools"
  - DIR "C:\Qt\5.14.2"
  - choco install -y InnoSetup
  - set PATH=%QTDIR%\bin;C:\Qt\Tools\mingw730_64\bin;"C:\Program Files (x86)\Inno Setup 6";C:\MinGW\bin;%PATH%
  - set CC=C:\Qt\Tools\mingw730_64\bin\gcc.exe
  - set CXX=C:\Qt\Tools\mingw730_64\bin\g++.exe
  - set Qt5_DIR=%QTDIR%\lib\cmake\Qt5
  - lupdate ChessPgnReviser.pro
  - lrelease ChessPgnReviser.pro

build_script:
  - qmake
  - mingw32-make -j4

after_build:
  - windeployqt release/chesspgnreviser.exe
  - cmd: cp LICENSE.md release/LICENSE.txt"
  - iscc windows_build.iss
  - rm release/*.o
  - rm release/*.cpp

artifacts:
  - path: Output\ChessPgnReviser-Windows-x86_64.exe
  - path: release
    type: zip

deploy:
- provider: GitHub
  draft: false
  prerelease: false
  on:
    branch: master 