branches:
  only:
    - master

image: Visual Studio 2019

configuration: Release
platform: x64

skip_non_tags: true

environment:
  QTDIR: C:\Qt\5.14.2\msvc2017_64

install:
  - DIR "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary"
  - DIR "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build"
  - choco install -y InnoSetup
  - set PATH=%QTDIR%\bin;"C:\Program Files (x86)\Inno Setup 6";"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.26.28801\bin\Hostx64\x64";"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build";"C:\Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x64";%PATH%
  - vcvars64.exe
  - lupdate ChessPgnReviser.pro
  - lrelease ChessPgnReviser.pro

build_script:
  - qmake
  - nmake
  
after_build:
  - windeployqt release/chesspgnreviser.exe
  - dir release
  - rm release/*.o
  - rm release/*.cpp
  - rm release/*.h
  - iscc windows_build.iss /DPWD=%CD% /OOutput

before_deploy:
  - cd Output
  - appveyor PushArtifact ChessPgnReviser.exe

artifacts:
  path: Output\ChessPgnReviser.exe
  name: chesspgnreviser

deploy:
  description: 'ChessPgnReviser'
  artifact: chesspgnreviser
  provider: GitHub
  auth_token:
    secure: /ZFMrtWy/BftMA/Bc9tJ9Az3zw+6OriwVIWy0f2F82x/bjsBmVMLdx9y4V2JDsZa
  skip_clean: true