version: 1.0.{build}

branches:
  only:
    - master

skip_tags: true

image: Visual Studio 2019

configuration: Release

install:
  - set QTDIR=C:\Qt\5.14.2\msvc2017_64
  - choco install -y InnoSetup
  - set PATH=%QTDIR%\bin;"C:\Program Files (x86)\Inno Setup 6";"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.26.28801\bin\Hostx64\x64";"c:\Program Files (x86)\Windows Kits\10\bin\10.0.15063.0\x64"
  - lupdate ChessPgnReviser.pro
  - lrelease ChessPgnReviser.pro
build_script:
  - qmake
  - nmake
after_build:
  - windeployqt release/chesspgnreviser.exe
  - cmd: cp LICENSE.md release/LICENSE.txt"
  - iscc windows_build.iss
  - rm release/*.o
  - rm release/*.cpp

artifacts:
  - path: Output\ChessPgnReviser-Windows-x86_64.exe
  - path: release
    type: zip

deploy:
- provider: GitHub
  draft: false
  prerelease: false
  on:
    branch: master 