version: 0.1.0-{build}

branches:
  only:
    - master

image: Visual Studio 2019

configuration: Release
platform: x64

environment:
  QTDIR: C:\Qt\5.14.2\mingw73_64

install:
  - choco install -y InnoSetup
  - set PATH=%QTDIR%\bin;C:\Qt\Tools\mingw730_64\bin;"C:\Program Files (x86)\Inno Setup 6";C:\MinGW\bin;%PATH%
  - set CC=C:\Qt\Tools\mingw730_64\bin\gcc.exe
  - set CXX=C:\Qt\Tools\mingw730_64\bin\g++.exe
  - set Qt5_DIR=%QTDIR%\lib\cmake\Qt5
  - lupdate ChessPgnReviser.pro
  - lrelease ChessPgnReviser.pro

build_script:
  - qmake
  - mingw32-make -j4
  - iscc windows_build.iss /DPWD=%CD% /OOutput

before_deploy:
  - cd Output
  - copy /y ChessPgnReviser.exe ChessPgnReviser-Windows-x86_64.exe
  - appveyor PushArtifact ChessPgnReviser-Windows-x86_64.exe

deploy:
  description: 'ChessPgnReviser'
  artifact: /.*\.exe/
  provider: GitHub
  skip_cleanup: true
  tag: $(appveyor_repo_tag_name)
  on:
    branch: master
    APPVEYOR_REPO_TAG: true       # deploy on tag push only