version: 0.1.0-{build}

branches:
  only:
    - master

platform:
  - x64

skip_tags: true

image: Visual Studio 2019

configuration: Release

install:
  - set QTDIR=C:\Qt\5.14.2\mingw73_64
  - choco install -y InnoSetup
  - set PATH=%QTDIR%\bin;C:\Qt\Tools\mingw730_3;"C:\Program Files (x86)\Inno Setup 6";C:\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev;C:\MinGW\bin;%PATH%
  - mingw-get install g++
  - choco install make
  - lupdate ChessPgnReviser.pro
  - lrelease ChessPgnReviser.pro
build_script:
  - qmake ChessPgnReviser.pro
  - make -j4
after_build:
  - windeployqt release/chesspgnreviser.exe
  - cmd: cp LICENSE.md release/LICENSE.txt"
  - iscc windows_build.iss
  - rm release/*.o
  - rm release/*.cpp

artifacts:
  - path: Output\ChessPgnReviser-Windows-x86_64.exe
  - path: release
    type: zip

deploy:
- provider: GitHub
  draft: false
  prerelease: false
  on:
    branch: master 